### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#Calculate the total number of schools
total_schools = len(school_data_complete['school_name'].unique())
print(total_schools)

15

In [3]:
#Calculate the total number of students
total_students = school_data_complete['student_name'].count()
print(total_students)

39170

In [4]:
#Calculate the total budget
total_budget = school_data['budget'].sum()
print(total_budget)

24649428

In [5]:
#Calculate the average maths score
Av_math_score = school_data_complete['maths_score']. mean()
print(Av_math_score)

#Calculate the average reading score
Av_read_score = school_data_complete['reading_score']. mean()
print(Av_read_score)

70.33819249425581
69.98013786060761

In [6]:
#Calculate the percentage of students with a passing maths score (50 or greater)
passing_maths = (school_data_complete['maths_score'] >= 50).sum() / total_students * 100
print(passing_maths)

#Calculate the percentage of students with a passing reading score (50 or greater)
passing_reading = (school_data_complete['reading_score'] >= 50).sum() / total_students * 100
print(passing_reading)

86.07863160582077
84.42685728874139

In [7]:
#Calculate the percentage of students who passed maths and reading (% Overall Passing)
overall_passing = (school_data_complete[(school_data_complete['maths_score'] >= 50) & 
                                        (school_data_complete['reading_score'] >= 50)]['Student ID'].count() / 
                                           total_students) * 100
print(overall_passing)

72.80827163645647

In [8]:
#Place all found data in data frame
LGAsummary_df = pd.DataFrame({"Total Schools":[total_schools],
                          "Total Students":[total_students],
                          "Total Budget": [total_budget],
                          "Average Math Score":[Av_math_score],
                          "Average Reading Score":[Av_read_score],
                           "% Passing Math": [passing_maths],
                           "% Passing Reading": [passing_reading],
                           "% Overall Passing": [overall_passing]})
#format the data in the data frame 
LGAsummary_df['Total Budget'] = LGAsummary_df['Total Budget'].map('${:,.2f}'.format)
LGAsummary_df['Average Math Score']= LGAsummary_df['Average Math Score'].map('{:,.2f}'.format)
LGAsummary_df['Average Reading Score']= LGAsummary_df['Average Reading Score'].map('{:,.2f}'.format)
LGAsummary_df['% Passing Math'] = LGAsummary_df['% Passing Math'].map('{:.2f}%'.format)
LGAsummary_df['% Passing Reading'] = LGAsummary_df['% Passing Reading'].map('{:.2f}%'.format)
LGAsummary_df['% Overall Passing'] = LGAsummary_df['% Overall Passing'].map('{:.2f}%'.format)
LGAsummary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",70.34,69.98,86.08%,84.43%,72.81%

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [9]:
#Calculate school types
school_types = school_data.set_index(["school_name"])["type"]

# Calculate Total Students for each school
total_students = school_data_complete["school_name"].value_counts()

# Calculate Total School Budget for each school
total_budget = school_data.groupby(["school_name"]).mean()["budget"]

# Calculate Per Student Budget for each school
per_student_budget = total_budget/ total_students

In [10]:
# Calculate Average Maths Score for each school
avg_maths_score = school_data_complete.groupby(["school_name"]).mean()["maths_score"]

# Calculate Average Reading Score for each school
avg_reading_score = school_data_complete.groupby(["school_name"]).mean()["reading_score"]

In [11]:
# Calculate % students passing Maths for each school
passing_maths = school_data_complete[school_data_complete["maths_score"] >= 50].groupby(["school_name"]).size()
percent_passing_maths = passing_maths / total_students * 100

# Calculate % students passing Reading for each school
passing_reading = school_data_complete[school_data_complete["reading_score"] >= 50].groupby(["school_name"]).size()
percent_passing_reading = passing_reading / total_students * 100

# Calculate % students passing Overall for each school
passing_overall = school_data_complete[(school_data_complete["maths_score"] >= 50) & (school_data_complete["reading_score"] >= 50)].groupby(["school_name"]).size()
percent_passing_overall = ((passing_overall / total_students) * 100)

In [12]:
# Data frame to output into summary table
summary_df = pd.DataFrame({
    "School Type": school_types,
    "Total Students": total_students,
    "Total School Budget": total_budget,
    "Per Student Budget": per_student_budget,
    "Average Maths Score": avg_maths_score,
    "Average Reading Score": avg_reading_score,
    "% Passing Maths": percent_passing_maths ,
    "% Passing Reading": percent_passing_reading,
    "% Overall Passing": percent_passing_overall
})

# Format the columns
summary_df["Total School Budget"] = summary_df["Total School Budget"].map("${:,.2f}".format)
summary_df["Per Student Budget"] = summary_df["Per Student Budget"].map("${:,.2f}".format)
summary_df["Average Maths Score"] = summary_df["Average Maths Score"].map("{:,.2f}".format)
summary_df["Average Reading Score"] = summary_df["Average Reading Score"].map("{:,.2f}".format)
summary_df["% Passing Maths"] = summary_df["% Passing Maths"].map("{:,.2f}%".format)
summary_df["% Passing Reading"] = summary_df["% Passing Reading"].map("{:,.2f}%".format)
summary_df["% Overall Passing"] = summary_df["% Overall Passing"].map("{:,.2f}%".format)
# Print the summary data frame
summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.35,71.01,91.64%,87.38%,80.08%
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.66,71.36,90.85%,89.07%,80.79%
Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.70,69.08,81.65%,82.81%,67.65%
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.09,69.57,82.44%,82.22%,67.47%
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.79,71.25,91.21%,88.49%,81.34%
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.87,69.19,80.95%,81.88%,66.36%
Holden High School,Independent,427,"$248,087.00",$581.00,72.58,71.66,89.93%,88.52%,78.92%
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.94,68.91,81.69%,81.45%,66.71%
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.84,69.04,82.06%,81.98%,67.19%
Pena High School,Independent,962,"$585,858.00",$609.00,72.09,71.61,91.68%,86.59%,79.21%
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.05,70.94,90.80%,87.40%,79.42%
Shelton High School,Independent,1761,"$1,056,600.00",$600.00,72.03,70.26,91.54%,86.71%,78.88%
Thomas High School,Independent,1635,"$1,043,130.00",$638.00,69.58,69.77,83.85%,82.63%,69.48%
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.17,68.88,82.79%,81.30%,67.46%
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.05,70.97,91.78%,86.67%,79.72%

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [13]:
#sort for top performing 
top_performing= summary_df.sort_values("% Overall Passing")
top_performing.tail(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.05,70.94,90.80%,87.40%,79.42%
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.05,70.97,91.78%,86.67%,79.72%
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.35,71.01,91.64%,87.38%,80.08%
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.66,71.36,90.85%,89.07%,80.79%
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.79,71.25,91.21%,88.49%,81.34%

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [14]:
#sort for bottom performing 
top_performing= summary_df.sort_values("% Overall Passing")
top_performing.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.87,69.19,80.95%,81.88%,66.36%
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.94,68.91,81.69%,81.45%,66.71%
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.84,69.04,82.06%,81.98%,67.19%
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.17,68.88,82.79%,81.30%,67.46%
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.09,69.57,82.44%,82.22%,67.47%

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [15]:
# Create pandas series for each year
year_9 = school_data_complete[school_data_complete["year"] == 9].groupby("school_name")["maths_score"].mean()
year_10 = school_data_complete[school_data_complete["year"] == 10].groupby("school_name")["maths_score"].mean()
year_11 = school_data_complete[school_data_complete["year"] == 11].groupby("school_name")["maths_score"].mean()
year_12 = school_data_complete[school_data_complete["year"] == 12].groupby("school_name")["maths_score"].mean()

# Combine the series into a data frame
math_scores_by_year_and_school = pd.DataFrame({
    "Year 9": year_9,
    "Year 10": year_10,
    "Year 11": year_11,
    "Year 12": year_12
})

# Format the data frame
math_scores_by_year_and_school.index.name = "School"
math_scores_by_year_and_school.columns.name = "year"

# Print the data frame
math_scores_by_year_and_school

year                      Year 9    Year 10    Year 11    Year 12
School
Bailey High School     72.493827  71.897498  72.374900  72.675097
Cabrera High School    72.321970  72.437768  71.008299  70.604712
Figueroa High School   68.477804  68.331586  68.811001  69.325282
Ford High School       69.021609  69.387006  69.248862  68.617811
Griffin High School    72.789731  71.093596  71.692521  71.469178
Hernandez High School  68.586831  68.867156  69.154412  68.985075
Holden High School     70.543307  75.105263  71.640777  73.409639
Huang High School      69.081754  68.533246  69.431345  68.639316
Johnson High School    69.469286  67.990220  68.637730  69.287393
Pena High School       71.996364  72.396000  72.523438  71.187845
Rodriguez High School  71.940722  71.779808  72.364811  72.154626
Shelton High School    72.932075  72.506696  70.097087  72.331536
Thomas High School     69.234273  70.057007  69.657831  69.369822
Wilson High School     69.212361  69.455446  68.378965  69.787472
Wright High School     71.741176  72.179012  73.275862  70.848238

## Reading Score by Year

* Perform the same operations as above for reading scores

In [16]:
# Create pandas series for each year
year_9 = school_data_complete[school_data_complete["year"] == 9].groupby("school_name")["reading_score"].mean()
year_10 = school_data_complete[school_data_complete["year"] == 10].groupby("school_name")["reading_score"].mean()
year_11 = school_data_complete[school_data_complete["year"] == 11].groupby("school_name")["reading_score"].mean()
year_12 = school_data_complete[school_data_complete["year"] == 12].groupby("school_name")["reading_score"].mean()

# Combine the series into a data frame
read_scores_by_year_and_school = pd.DataFrame({
    "Year 9": year_9,
    "Year 10": year_10,
    "Year 11": year_11,
    "Year 12": year_12
})

# Format the data frame
read_scores_by_year_and_school.index.name = "School"
read_scores_by_year_and_school.columns.name = "Year"

# Print the data frame
read_scores_by_year_and_school

Year                      Year 9    Year 10    Year 11    Year 12
School
Bailey High School     70.901920  70.848265  70.317346  72.195525
Cabrera High School    71.172348  71.328326  71.201245  71.856021
Figueroa High School   70.261682  67.677588  69.152327  69.082126
Ford High School       69.615846  68.988701  70.735964  68.849722
Griffin High School    72.026895  70.746305  72.385042  69.434932
Hernandez High School  68.477569  70.621842  68.418199  69.244136
Holden High School     71.598425  71.096491  73.310680  70.481928
Huang High School      68.670616  69.516297  68.740638  68.671795
Johnson High School    68.719286  69.295029  69.969115  67.992521
Pena High School       70.949091  72.324000  71.703125  71.513812
Rodriguez High School  70.902921  70.137500  71.424453  71.414449
Shelton High School    70.715094  69.879464  71.150485  69.070081
Thomas High School     69.672451  69.741093  70.749398  68.730769
Wilson High School     68.683043  68.412541  68.796327  69.888143
Wright High School     71.823529  71.386831  70.475862  69.821138

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [17]:
# Create the spending bins and labels
bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [18]:
# Cut the data into the spending ranges
school_data_complete['Spending Ranges (Per Student)'] = pd.cut(school_data_complete['budget']/school_data_complete['size'], bins=bins, labels=labels)

In [19]:
# Calculate the required statistics for each spending range
by_spending = school_data_complete.groupby('Spending Ranges (Per Student)')

In [20]:
#Average maths and reading scores
avg_math_score = by_spending['maths_score'].mean()
avg_reading_score = by_spending['reading_score'].mean()

In [21]:
passing_math = school_data_complete[school_data_complete['maths_score'] >= 50].groupby('Spending Ranges (Per Student)')['Student ID'].count() / by_spending['Student ID'].count() * 100
passing_reading = school_data_complete[school_data_complete['reading_score'] >= 50].groupby('Spending Ranges (Per Student)')['Student ID'].count() / by_spending['Student ID'].count() * 100
overall_passing_rate = (passing_math + passing_reading) / 2

In [22]:
# Create the final table
spending_summary = pd.DataFrame({
    'Average Math Score': avg_math_score,
    'Average Reading Score': avg_reading_score,
    '% Passing Math': passing_math,
    '% Passing Reading': passing_reading,
    '% Overall Passing Rate': overall_passing_rate
})
#formatting 
spending_summary["Average Math Score"] = spending_summary["Average Math Score"].map("{:,.2f}".format)
spending_summary["Average Reading Score"] =spending_summary["Average Reading Score"].map("{:,.2f}".format)
spending_summary["% Passing Math"] = spending_summary["% Passing Math"].map("{:,.2f}%".format)
spending_summary["% Passing Reading"] = spending_summary["% Passing Reading"].map("{:,.2f}%".format)
spending_summary["% Overall Passing Rate"] = spending_summary["% Overall Passing Rate"].map("{:,.2f}%".format)

# Print the table
spending_summary.head(15)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,70.94,70.38,88.16%,85.57%,86.86%
$585-630,72.17,70.97,91.56%,87.35%,89.45%
$630-645,70.10,69.95,85.39%,84.26%,84.83%
$645-680,68.88,69.06,81.56%,81.82%,81.69%

## Scores by School Size

* Perform the same operations as above, based on school size.

In [23]:
#Create bins and label for assignment 
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [24]:
# Create the summary table
per_school_summary_table = pd.DataFrame({
    'Average Math Score': avg_math_score,
    'Average Reading Score': avg_reading_score,
    '% Passing Math': passing_math,
    '% Passing Reading': passing_reading,
    '% Overall Passing Rate': overall_passing_rate
})

In [25]:
# Group data by school size
school_data_complete['Total Students'] = pd.cut(school_data_complete["size"], size_bins, labels=labels)
by_total_students = school_data_complete.groupby('Total Students')

In [26]:
avg_math_score = by_total_students['maths_score'].mean()
avg_reading_score = by_total_students['reading_score'].mean()
passing_math = school_data_complete[school_data_complete['maths_score'] >= 70].groupby('Total Students')['Student ID'].count() / by_total_students['Student ID'].count() * 100
passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('Total Students')['Student ID'].count() / by_total_students['Student ID'].count() * 100
overall_passing_rate = (passing_math + passing_reading) / 2

In [27]:
# Formatting 
per_school_summary_table["Average Math Score"] = per_school_summary_table["Average Math Score"].map("{:.2f}".format)
per_school_summary_table["Average Reading Score"] = per_school_summary_table["Average Reading Score"].map("{:.2f}".format)
per_school_summary_table["% Passing Math"] = per_school_summary_table["% Passing Math"].map("{:.2f}%".format)
per_school_summary_table["% Passing Reading"] = per_school_summary_table["% Passing Reading"].map("{:.2f}%".format)
per_school_summary_table["% Overall Passing Rate"] = per_school_summary_table["% Overall Passing Rate"].map("{:.2f}%".format)

# Print the summary table
per_school_summary_table.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,70.94,70.38,88.16%,85.57%,86.86%
$585-630,72.17,70.97,91.56%,87.35%,89.45%
$630-645,70.10,69.95,85.39%,84.26%,84.83%
$645-680,68.88,69.06,81.56%,81.82%,81.69%

## Scores by School Type

* Perform the same operations as above, based on school type

In [28]:
# Filter data by school type and groupby type
Government_type = school_data_complete[school_data_complete["type"] == 'Government']
Independent_type = school_data_complete[school_data_complete['type'] == 'Independent']

# Calculate average scores and passing rates
avg_math_score = school_data_complete.groupby('type')['maths_score'].mean()
avg_reading_score = school_data_complete.groupby('type')['reading_score'].mean()
passing_math = school_data_complete[school_data_complete['maths_score'] >= 50].groupby('type')['Student ID'].count() / school_data_complete.groupby('type')['Student ID'].count() * 100
passing_reading = school_data_complete[school_data_complete['reading_score'] >= 50].groupby('type')['Student ID'].count() / school_data_complete.groupby('type')['Student ID'].count() * 100
overall_passing_rate = (passing_math + passing_reading) / 2

# Combine the series into a data frame
scores_by_school_type = pd.DataFrame({
    'Average Math Score': avg_math_score,
    'Average Reading Score': avg_reading_score,
    '% Passing Math': passing_math,
    '% Passing Reading': passing_reading,
    '% Overall Passing Rate': overall_passing_rate
})

# Format the data frame
scores_by_school_type.index.name = "School Type"

scores_by_school_type["Average Math Score"] = scores_by_school_type["Average Math Score"].map("{:,.2f}".format)
scores_by_school_type["Average Reading Score"] =scores_by_school_type["Average Reading Score"].map("{:,.2f}".format)
scores_by_school_type["% Passing Math"] = scores_by_school_type["% Passing Math"].map("{:,.2f}%".format)
scores_by_school_type["% Passing Reading"] = scores_by_school_type["% Passing Reading"].map("{:,.2f}%".format)
scores_by_school_type["% Overall Passing Rate"] = scores_by_school_type["% Overall Passing Rate"].map("{:,.2f}%".format)

# Print the data frame
scores_by_school_type.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Government,69.99,69.75,84.89%,83.82%,84.35%
Independent,71.11,70.48,88.72%,85.77%,87.24%